<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy">
    <!-- 앱의 패키지명 -->
    <!-- 패키지명으로 앱을 구분하기 때문에 반드시 고유해야함 -->


    <!-- application : 앱에 대한 내용물 적음 -->
    <!--
        <application
            android:allowBackup="true" -> 앱을 삭제해도 일정부분 백업하도록 함
            android:icon="@mipmap/ic_launcher" -> 앱의 아이콘 지정
            android:label="@string/app_name" -> 앱이름
            android:roundIcon="@mipmap/ic_launcher_round" -> 기기마다 아이콘이 달라 적용해줘야함
            android:supportsRtl="true" -> right to left
                                       -> 중동권 같은 경우 왼쪽에서 오른쪽으로 읽기때문에 앱을 설치했을때
                                       -> 글을 뒤집어서 표출해줌
            android:theme="@style/Theme.AndroidStudy" -> 앱의 기본 테마
            >


            <activity -> 앱의 화면
                android:name=".MainActivity" -> 화면 이름
                android:exported="true">
                <intent-filter> -> 이 activity의 속성
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" /> -> 앱의 최초의 화면
                </intent-filter>
            </activity>
        </application>
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>